
* {
  box-sizing: border-box;
}

body {
  background-color: #777;
  color: #777;
  font-size: 18px;
}

div {
  display: block;
  padding: 40px 0 40px 0;
  margin: 10px 100px 10px 100px;
  background-color: #ebebeb;
  width: 960px;
  text-align: center;
}

.float1 {
  width: 495px;
  float: left;
}

#section {
}

#article {
  background-color: #777;
  color: #ebebeb;
}

#headers {
  color: #777;
}

#aside {
  width: 495px;
}
